# Rust / Cargo
/target/
**/target/
**/*.rs.bk

# OS / disk images & firmware artifacts
*.img
*.iso
*.bin

# Logs
*.log
qemu_err.txt
qemu_out.txt

# Editors
.vscode/

# OS junk
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.swp
*.swo
